<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품수정</title>
  </head>
  <body>
    <h3>상품수정</h3>
    <div class="wrap">
      <form action="" method="post" th:object="${form}">
        <div>
          <label for="">상품번호</label>
          <input
            type="text"
            name="productId"
            th:field="*{productId}"
            readonly
          />
          <!-- th:field => name에 태그에 덮어쓰기한다. value는 자동으로 넣어준다. -->
        </div>
        <div>
          <label for="">상품명</label>
          <input type="text" name="pname" th:field="*{pname}" />
        </div>
        <div>
          <label for="">수량</label>
          <input type="text" name="quantity" th:field="*{quantity}" />
        </div>
        <div>
          <label for="">가격</label>
          <input type="text" name="price" th:field="*{price}" />
        </div>
        <div>
          <button type="submit" id="btnSave" th:text="#{button.save}">
            저장
          </button>
          <button type="button" id="btnCancel" th:text="#{button.cancel}">
            취소
          </button>
          <button type="button" id="btnFindAll" th:text="#{button.list}">
            목록
          </button>
        </div>
      </form>
    </div>
    <script>
      const $btnCancel = document.getElementById('btnCancel');
      const $btnFindAll = document.getElementById('btnFindAll');

      const btnCancel_h = (e) => globalThis.history.back();
      const btnFindAll_h = (e) => {
        globalThis.location.href = '/products';
      };

      $btnSave.addEventListener('click', btnSave_h, false);
      $btnCancel.addEventListener('click', btnCancel_h, false);
      $btnFindAll.addEventListener('click', btnFindAll_h, false);
    </script>
  </body>
</html>
